section.home-promotion-blogs, section.search-information, section.search-information div, section.search-results, section.search-nearby-results, section.detail-profile, section.manage-store-information, section.manage-addstore-container, section.manage-addstore-container form div ul, section.manage-addblog-elements, section.manage-addblog-elements ul li, section.manage-addblog-crucial, section.manage-addblog-crucial form, footer {
  *zoom: 1; }
  section.home-promotion-blogs:before, section.search-information:before, section.search-information div:before, section.search-results:before, section.search-nearby-results:before, section.detail-profile:before, section.manage-store-information:before, section.manage-addstore-container:before, section.manage-addstore-container form div ul:before, section.manage-addblog-elements:before, section.manage-addblog-elements ul li:before, section.manage-addblog-crucial:before, section.manage-addblog-crucial form:before, footer:before, section.home-promotion-blogs:after, section.search-information:after, section.search-information div:after, section.search-results:after, section.search-nearby-results:after, section.detail-profile:after, section.manage-store-information:after, section.manage-addstore-container:after, section.manage-addstore-container form div ul:after, section.manage-addblog-elements:after, section.manage-addblog-elements ul li:after, section.manage-addblog-crucial:after, section.manage-addblog-crucial form:after, footer:after {
    content: " ";
    display: table; }
  section.home-promotion-blogs:after, section.search-information:after, section.search-information div:after, section.search-results:after, section.search-nearby-results:after, section.detail-profile:after, section.manage-store-information:after, section.manage-addstore-container:after, section.manage-addstore-container form div ul:after, section.manage-addblog-elements:after, section.manage-addblog-elements ul li:after, section.manage-addblog-crucial:after, section.manage-addblog-crucial form:after, footer:after {
    clear: both; }

* {
  margin: 0;
  padding: 0; }

html {
  -webkit-overflow-y: scroll;
  -moz-overflow-y: scroll;
  -ms-overflow-y: scroll;
  overflow-y: scroll; }

body {
  background-color: #f3f3f3; }

.content-container, section.login, section.home-promotion-blogs, article.home-promotion-about, section.search-information, section.search-results, section.search-nearby-results, section.detail-profile, section.manage-store-information, section.manage-store-list, section.manage-addstore-container, section.manage-addblog-elements, section.manage-addblog-crucial, footer {
  display: block;
  width: 1024px;
  margin: 0 auto; }

header {
  z-index: -999;
  width: 100%;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("http://floreview.blob.core.windows.net/images/home_background.jpg"); }
  header nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 48px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    header nav ul li {
      float: left;
      list-style: none;
      margin: 0 25px 0 0; }
      header nav ul li a, header nav ul li section.search-results div a svg, section.search-results div a header nav ul li svg, header nav ul li section.search-nearby-results div a svg, section.search-nearby-results div a header nav ul li svg {
        color: #333333;
        text-decoration: none;
        text-transform: lowercase;
        font-family: latoregular, sans-serif;
        font-size: 20px;
        line-height: 48px; }
      header nav ul li a:focus, header nav ul li section.search-results div a svg:focus, section.search-results div a header nav ul li svg:focus, header nav ul li section.search-nearby-results div a svg:focus, section.search-nearby-results div a header nav ul li svg:focus {
        outline: none; }
    header nav ul li:last-of-type {
      float: right;
      margin: 0; }
      header nav ul li:last-of-type a, header nav ul li:last-of-type section.search-results div a svg, section.search-results div a header nav ul li:last-of-type svg, header nav ul li:last-of-type section.search-nearby-results div a svg, section.search-nearby-results div a header nav ul li:last-of-type svg {
        font-size: 16px; }
      header nav ul li:last-of-type a:hover, header nav ul li:last-of-type section.search-results div a svg:hover, section.search-results div a header nav ul li:last-of-type svg:hover, header nav ul li:last-of-type section.search-nearby-results div a svg:hover, section.search-nearby-results div a header nav ul li:last-of-type svg:hover {
        text-decoration: underline; }
    header nav form a:hover, header nav form section.search-results div a svg:hover, section.search-results div a header nav form svg:hover, header nav form section.search-nearby-results div a svg:hover, section.search-nearby-results div a header nav form svg:hover {
      cursor: pointer; }
  header nav.scrolled {
    border-bottom: 1px solid #cccccc;
    background: white; }
  header section.menu-admin {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 32px;
    top: 48px;
    background-color: #333333;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    header section.menu-admin ul li {
      float: left;
      list-style: none;
      margin: 0 25px 0 0; }
      header section.menu-admin ul li a, header section.menu-admin ul li section.search-results div a svg, section.search-results div a header section.menu-admin ul li svg, header section.menu-admin ul li section.search-nearby-results div a svg, section.search-nearby-results div a header section.menu-admin ul li svg {
        color: #ffffff;
        text-decoration: none;
        text-transform: lowercase;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        line-height: 32px; }
      header section.menu-admin ul li a:hover, header section.menu-admin ul li section.search-results div a svg:hover, section.search-results div a header section.menu-admin ul li svg:hover, header section.menu-admin ul li section.search-nearby-results div a svg:hover, section.search-nearby-results div a header section.menu-admin ul li svg:hover {
        text-decoration: underline; }
      header section.menu-admin ul li a:focus, header section.menu-admin ul li section.search-results div a svg:focus, section.search-results div a header section.menu-admin ul li svg:focus, header section.menu-admin ul li section.search-nearby-results div a svg:focus, section.search-nearby-results div a header section.menu-admin ul li svg:focus {
        outline: none; }
  header section.home-search-container {
    position: relative;
    width: 100%;
    height: 150px;
    top: 200px; }
    header section.home-search-container h1 {
      width: 900px;
      color: #333333;
      font-family: latoregular, sans-serif;
      font-size: 36px;
      font-weight: 400;
      margin: 0 auto; }
    header section.home-search-container form {
      width: 900px;
      height: 100px;
      background: rgba(255, 255, 255, 0.8);
      margin: 10px auto 0 auto; }
      header section.home-search-container form input[type="text"] {
        width: 300px;
        height: 20px;
        background-color: #ffffff;
        border: 1px solid #999999;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        padding: 10px; }
      header section.home-search-container form input[type="text"]:first-of-type {
        margin: 30px 0 0 20px; }
      header section.home-search-container form input[type="text"]:nth-child(2) {
        margin: 30px 20px 0 20px; }
      header section.home-search-container form input[type="text"]:focus {
        outline: 0;
        border: 1px solid #1f9b35; }
      header section.home-search-container form input[type="submit"] {
        width: 160px;
        height: 40px;
        background-color: #1f9b35;
        border: none;
        font-family: latoregular, sans-serif;
        font-size: 18px;
        color: #ffffff;
        margin: 0 0 0 7px; }
      header section.home-search-container form input[type="submit"]:hover {
        cursor: pointer;
        background-color: #197f25; }
      header section.home-search-container form input[type="submit"]:focus {
        outline: none; }

header.small {
  height: 48px;
  background: none; }

header.admin {
  height: 80px;
  background: none; }

section.login {
  margin-top: 30px;
  width: 315px;
  border: #e9e9e9;
  background-color: #ffffff; }
  section.login h2 {
    font-family: latoregular, sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #333333;
    padding: 10px; }
  section.login form {
    padding: 10px; }
    section.login form input {
      display: block;
      width: 100%;
      border: 1px solid #999999;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      font-family: latoregular, sans-serif;
      font-size: 16px;
      padding: 10px;
      margin: 10px 0 0 0; }
    section.login form input:focus {
      outline: none;
      border: 1px solid #1f9b35; }
    section.login form input[type="text"] {
      margin: 0; }
    section.login form input[type="submit"] {
      border: none;
      background-color: #1f9b35;
      font-size: 18px;
      color: #ffffff; }
    section.login form input[type="submit"]:hover {
      cursor: pointer;
      background-color: #197f25; }
    section.login form span.field-validation-error {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      font-family: latoregular, sans-serif;
      font-size: 14px;
      color: #e84340;
      padding: 5px 0; }
    section.login form span.field-validation-error[data-valmsg-for="LoginError"] {
      padding: 0 0 10px 0; }

section.home-promotion-blogs {
  margin-top: 75px; }
  section.home-promotion-blogs h2 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-family: latoregular, sans-serif;
    color: #333333;
    margin: 0 0 50px 0; }
  section.home-promotion-blogs article {
    display: block;
    float: left;
    width: 315px;
    margin: 0 40px 0 0;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    section.home-promotion-blogs article img {
      max-width: 313px;
      border-bottom: 1px solid #e9e9e9; }
    section.home-promotion-blogs article > a, section.home-promotion-blogs section.search-results div a article > svg, section.search-results div a section.home-promotion-blogs article > svg, section.home-promotion-blogs section.search-nearby-results div a article > svg, section.search-nearby-results div a section.home-promotion-blogs article > svg {
      display: block;
      height: 42px;
      max-height: 42px;
      color: #333333;
      font-size: 18px;
      font-family: latoregular, sans-serif;
      text-decoration: none;
      border-bottom: 1px dashed #cccccc;
      padding: 10px; }
    section.home-promotion-blogs article > a:hover, section.home-promotion-blogs section.search-results div a article > svg:hover, section.search-results div a section.home-promotion-blogs article > svg:hover, section.home-promotion-blogs section.search-nearby-results div a article > svg:hover, section.search-nearby-results div a section.home-promotion-blogs article > svg:hover {
      color: #1f9b35; }
    section.home-promotion-blogs article p {
      color: #333333;
      padding: 0 10px;
      font-size: 14px;
      font-family: latoregular, sans-serif; }
      section.home-promotion-blogs article p span {
        font-size: 14px;
        font-family: latoregular, sans-serif;
        color: #999999; }
      section.home-promotion-blogs article p a, section.home-promotion-blogs article p section.search-results div a svg, section.search-results div a section.home-promotion-blogs article p svg, section.home-promotion-blogs article p section.search-nearby-results div a svg, section.search-nearby-results div a section.home-promotion-blogs article p svg {
        color: #333333;
        font-size: 14px;
        font-family: latoregular, sans-serif;
        text-decoration: none; }
      section.home-promotion-blogs article p a:hover, section.home-promotion-blogs article p section.search-results div a svg:hover, section.search-results div a section.home-promotion-blogs article p svg:hover, section.home-promotion-blogs article p section.search-nearby-results div a svg:hover, section.search-nearby-results div a section.home-promotion-blogs article p svg:hover {
        text-decoration: underline; }
    section.home-promotion-blogs article p:nth-of-type(1) {
      margin: 9px 0 4px 0; }
    section.home-promotion-blogs article p:nth-of-type(2) {
      margin: 4px 0 9px 0; }
  section.home-promotion-blogs article:nth-of-type(2) {
    margin: 0 39px 0 0; }
  section.home-promotion-blogs article:last-of-type {
    margin: 0; }

article.home-promotion-about {
  margin-top: 50px;
  height: 110px;
  background-color: #f79956; }
  article.home-promotion-about h2 {
    font-weight: 400;
    font-size: 26px;
    font-family: latoregular, sans-serif;
    color: #ffffff;
    padding: 10px; }
  article.home-promotion-about p {
    font-family: latoregular, sans-serif;
    color: #ffffff;
    padding: 5px 10px; }

section.search-information div {
  float: left;
  width: 315px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 40px 0 0; }
  section.search-information div h2 {
    float: left;
    width: 157px;
    height: 58px;
    font-family: latoregular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    line-height: 60px;
    border-right: 1px dashed #cccccc; }
  section.search-information div p {
    float: left;
    width: 155px;
    height: 58px;
    font-family: latoregular, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #333333;
    line-height: 60px;
    overflow: hidden; }
section.search-information div:nth-of-type(2) {
  margin: 30px 39px 0 0; }
section.search-information div:nth-of-type(3) {
  margin: 30px 0 0 0; }

section.search-results, section.search-nearby-results {
  margin-top: 30px; }
  section.search-results div, section.search-nearby-results div {
    float: left;
    width: 490px;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    margin: 0 0 25px 0; }
    section.search-results div img, section.search-nearby-results div img {
      display: block;
      float: left;
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px; }
    section.search-results div h3, section.search-nearby-results div h3 {
      float: left;
      padding: 5px 5px 5px 5px;
      width: 290px;
      font-family: latoregular, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #333333;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    section.search-results div p, section.search-nearby-results div p {
      float: left;
      width: 290px;
      font-family: latoregular, sans-serif;
      font-size: 16px;
      color: #333333;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    section.search-results div p:first-of-type, section.search-nearby-results div p:first-of-type {
      margin: -15px 0 0 0;
      padding: 0 5px;
      height: 85px; }
    section.search-results div p:nth-of-type(2), section.search-nearby-results div p:nth-of-type(2) {
      font-size: 14px;
      margin: 5px 0 0 0;
      padding: 0 5px; }
    section.search-results div a, section.search-nearby-results div a, section.search-results div a svg, section.search-nearby-results div a svg {
      display: block;
      float: left;
      width: 50px;
      height: 50px; }
      section.search-results div a svg:hover, section.search-nearby-results div a svg:hover {
        cursor: pointer; }
    section.search-results div a:nth-of-type(1) svg:hover path, section.search-nearby-results div a:nth-of-type(1) svg:hover path, section.search-results div a svg:nth-of-type(1) svg:hover path, section.search-nearby-results div a svg:nth-of-type(1) svg:hover path {
      fill: #36609f; }
    section.search-results div a:nth-of-type(2) svg:hover path, section.search-nearby-results div a:nth-of-type(2) svg:hover path, section.search-results div a svg:nth-of-type(2) svg:hover path, section.search-nearby-results div a svg:nth-of-type(2) svg:hover path {
      fill: #1e70b6; }
    section.search-results div a:nth-of-type(3), section.search-nearby-results div a:nth-of-type(3), section.search-results div a svg:nth-of-type(3), section.search-nearby-results div a svg:nth-of-type(3) {
      margin: -20px 0 0 0; }
      section.search-results div a:nth-of-type(3) svg:hover path, section.search-nearby-results div a:nth-of-type(3) svg:hover path, section.search-results div a svg:nth-of-type(3) svg:hover path, section.search-nearby-results div a svg:nth-of-type(3) svg:hover path {
        fill: #1f9b35; }
  section.search-results div:nth-of-type(odd), section.search-nearby-results div:nth-of-type(odd) {
    margin: 0 40px 25px 0; }

section.search-nearby-results h2 {
  font-family: latoregular, sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 50px 0; }

section.detail-profile {
  margin-top: 30px;
  background-color: #ffffff;
  border: #e9e9e9; }
  section.detail-profile div.detail-profile-left {
    float: left;
    width: 645px;
    padding: 10px; }
    section.detail-profile div.detail-profile-left h1 {
      font-family: latoregular, sans-serif;
      font-weight: 400;
      font-size: 32px;
      color: #333333; }
    section.detail-profile div.detail-profile-left p {
      height: 110px;
      max-height: 110px;
      font-family: latoregular, sans-serif;
      font-size: 16px;
      text-align: justify;
      color: #333333;
      margin: 15px 0 0 0; }
    section.detail-profile div.detail-profile-left div.detail-profile-pictures {
      margin: 75px 0 0 0; }
      section.detail-profile div.detail-profile-left div.detail-profile-pictures ul li {
        display: block;
        float: left;
        list-style: none;
        width: 125px;
        height: 125px;
        margin: 0 5px 0 0; }
        section.detail-profile div.detail-profile-left div.detail-profile-pictures ul li img {
          width: 125px;
          height: 125px; }
      section.detail-profile div.detail-profile-left div.detail-profile-pictures ul li:last-of-type {
        margin: 0; }
  section.detail-profile div.detail-profile-right {
    float: left;
    width: 300px;
    padding: 10px;
    margin: 0 0 0 39px; }
    section.detail-profile div.detail-profile-right div.google-map {
      width: 300px;
      height: 300px;
      overflow: hidden; }
      section.detail-profile div.detail-profile-right div.google-map div#map-canvas {
        width: 300px;
        height: 317px; }
    section.detail-profile div.detail-profile-right div.detail-profile-contact {
      margin: 10px 0 0 0;
      height: 50px; }
      section.detail-profile div.detail-profile-right div.detail-profile-contact ul {
        position: relative;
        height: 50px; }
        section.detail-profile div.detail-profile-right div.detail-profile-contact ul li {
          display: block;
          float: left;
          list-style: none;
          height: 50px;
          width: 50px; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg:hover {
            cursor: pointer; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-facebook:hover path {
            fill: #36609f; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-mail:hover path {
            fill: #1e70b6; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-site:hover path {
            fill: #f27730; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-phone:hover path {
            fill: #98bc3e; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-mobile:hover g path {
            fill: #4490ce; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-mobile:hover g rect {
            fill: #4490ce; }
          section.detail-profile div.detail-profile-right div.detail-profile-contact ul li svg.icon-gps:hover g path {
            fill: #e84340; }
      section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup {
        position: relative;
        height: 40px; }
        section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a, section.detail-profile div.detail-profile-right div.detail-profile-contact section.search-results div.detail-profile-contact-popup a svg, section.search-results section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a svg, section.detail-profile div.detail-profile-right div.detail-profile-contact section.search-nearby-results div.detail-profile-contact-popup a svg, section.search-nearby-results section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a svg, section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup p {
          display: none;
          padding: 0 10px;
          line-height: 40px;
          font-family: latoregular, sans-serif;
          font-size: 16px;
          text-decoration: none;
          color: #ffffff; }
        section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a.active, section.detail-profile div.detail-profile-right div.detail-profile-contact section.search-results div.detail-profile-contact-popup a svg.active, section.search-results section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a svg.active, section.detail-profile div.detail-profile-right div.detail-profile-contact section.search-nearby-results div.detail-profile-contact-popup a svg.active, section.search-nearby-results section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a svg.active, section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup p.active {
          display: block; }
        section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a:hover, section.detail-profile div.detail-profile-right div.detail-profile-contact section.search-results div.detail-profile-contact-popup a svg:hover, section.search-results section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a svg:hover, section.detail-profile div.detail-profile-right div.detail-profile-contact section.search-nearby-results div.detail-profile-contact-popup a svg:hover, section.search-nearby-results section.detail-profile div.detail-profile-right div.detail-profile-contact div.detail-profile-contact-popup a svg:hover {
          text-decoration: underline; }

section.manage-store-information {
  margin-top: 30px;
  height: 60px;
  background-color: #ffffff; }
  section.manage-store-information a, section.manage-store-information section.search-results div a svg, section.search-results div a section.manage-store-information svg, section.manage-store-information section.search-nearby-results div a svg, section.search-nearby-results div a section.manage-store-information svg {
    display: block;
    float: left;
    width: 160px;
    height: 40px;
    background-color: #1f9b35;
    font-family: latoregular, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    margin: 10px 0 0 10px; }
  section.manage-store-information a:hover, section.manage-store-information section.search-results div a svg:hover, section.search-results div a section.manage-store-information svg:hover, section.manage-store-information section.search-nearby-results div a svg:hover, section.search-nearby-results div a section.manage-store-information svg:hover {
    cursor: pointer;
    background-color: #197f25; }
  section.manage-store-information select {
    float: right;
    width: 160px;
    height: 40px;
    font-family: latoregular, sans-serif;
    font-size: 14px;
    margin: 10px 10px 0 0;
    padding: 10px 5px;
    border: 1px solid #999999; }
  section.manage-store-information select:focus {
    outline: 0;
    border: 1px solid #1f9b35; }
  section.manage-store-information input[type="text"] {
    display: block;
    float: right;
    width: 160px;
    height: 20px;
    font-family: latoregular, sans-serif;
    font-size: 14px;
    margin: 10px 10px 0 0;
    padding: 10px;
    border: 1px solid #999999; }
  section.manage-store-information input[type="text"]:focus {
    outline: 0;
    border: 1px solid #1f9b35; }
  section.manage-store-information img {
    display: none;
    float: right;
    width: 20px;
    height: 20px;
    margin: 20px 10px 0 0; }
  section.manage-store-information img.loading {
    display: block; }

section.manage-store-list {
  margin-top: 30px; }
  section.manage-store-list div.store-profile {
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    margin: 0 0 15px 0; }
    section.manage-store-list div.store-profile p {
      float: left;
      font-family: latoregular, sans-serif;
      line-height: 50px;
      width: 270px;
      padding: 0 10px;
      border-right: 1px dashed #cccccc; }
    section.manage-store-list div.store-profile p:nth-child(3) {
      border: none; }
    section.manage-store-list div.store-profile ul li {
      display: block;
      float: left;
      list-style: none;
      width: 50px;
      height: 50px; }
      section.manage-store-list div.store-profile ul li a, section.manage-store-list section.search-results div.store-profile ul li a svg, section.search-results section.manage-store-list div.store-profile ul li a svg, section.manage-store-list section.search-results div.store-profile a ul li svg, section.search-results section.manage-store-list div.store-profile a ul li svg, section.manage-store-list section.search-nearby-results div.store-profile ul li a svg, section.search-nearby-results section.manage-store-list div.store-profile ul li a svg, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg {
        display: block;
        width: 50px;
        height: 50px; }
        section.manage-store-list div.store-profile ul li a svg, section.manage-store-list section.search-results div.store-profile a ul li svg svg, section.search-results section.manage-store-list div.store-profile a ul li svg svg, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg svg, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg svg {
          display: block;
          width: 50px;
          height: 50px; }
        section.manage-store-list div.store-profile ul li a svg:hover, section.manage-store-list section.search-results div.store-profile a ul li svg svg:hover, section.search-results section.manage-store-list div.store-profile a ul li svg svg:hover, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg svg:hover, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg svg:hover {
          cursor: pointer; }
        section.manage-store-list div.store-profile ul li a svg.icon-info:hover path, section.manage-store-list section.search-results div.store-profile a ul li svg svg.icon-info:hover path, section.search-results section.manage-store-list div.store-profile a ul li svg svg.icon-info:hover path, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg svg.icon-info:hover path, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg svg.icon-info:hover path {
          fill: #1f9b35; }
        section.manage-store-list div.store-profile ul li a svg.icon-info:hover rect, section.manage-store-list section.search-results div.store-profile a ul li svg svg.icon-info:hover rect, section.search-results section.manage-store-list div.store-profile a ul li svg svg.icon-info:hover rect, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg svg.icon-info:hover rect, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg svg.icon-info:hover rect {
          fill: #1f9b35; }
        section.manage-store-list div.store-profile ul li a svg.icon-edit:hover rect, section.manage-store-list section.search-results div.store-profile a ul li svg svg.icon-edit:hover rect, section.search-results section.manage-store-list div.store-profile a ul li svg svg.icon-edit:hover rect, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg svg.icon-edit:hover rect, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg svg.icon-edit:hover rect {
          fill: #f7bb31; }
        section.manage-store-list div.store-profile ul li a svg.icon-delete:hover rect, section.manage-store-list section.search-results div.store-profile a ul li svg svg.icon-delete:hover rect, section.search-results section.manage-store-list div.store-profile a ul li svg svg.icon-delete:hover rect, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg svg.icon-delete:hover rect, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg svg.icon-delete:hover rect {
          fill: #f24730; }
      section.manage-store-list div.store-profile ul li a:focus, section.manage-store-list section.search-results div.store-profile ul li a svg:focus, section.search-results section.manage-store-list div.store-profile ul li a svg:focus, section.manage-store-list section.search-results div.store-profile a ul li svg:focus, section.search-results section.manage-store-list div.store-profile a ul li svg:focus, section.manage-store-list section.search-nearby-results div.store-profile ul li a svg:focus, section.search-nearby-results section.manage-store-list div.store-profile ul li a svg:focus, section.manage-store-list section.search-nearby-results div.store-profile a ul li svg:focus, section.search-nearby-results section.manage-store-list div.store-profile a ul li svg:focus {
        outline: none; }

section.manage-addstore-container {
  margin-top: 30px; }
  section.manage-addstore-container form div {
    float: left;
    width: 315px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 40px 0 0; }
    section.manage-addstore-container form div h2 {
      font-family: latoregular, sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #333333;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px dashed #cccccc;
      padding: 10px; }
    section.manage-addstore-container form div ul {
      margin: 10px; }
      section.manage-addstore-container form div ul li {
        float: left;
        list-style: none;
        font-family: latoregular, sans-serif;
        text-align: center;
        width: 60px;
        height: 18px;
        padding: 10px 0;
        margin: 0 17px 0 0; }
      section.manage-addstore-container form div ul li:last-of-type {
        margin: 0; }
      section.manage-addstore-container form div ul li:hover {
        cursor: pointer;
        color: #1f9b35; }
    section.manage-addstore-container form div ul#manage-addstore-company-images-list li {
      float: none;
      list-style: disc;
      padding: 5px 0;
      margin: 0 0 0 20px; }
    section.manage-addstore-container form div ul#manage-addstore-company-images-list li:hover {
      color: #333333;
      cursor: default; }
    section.manage-addstore-container form div input[type="text"] {
      width: 271px;
      height: 18px;
      font-family: latoregular, sans-serif;
      font-size: 16px;
      border: 1px solid #999999;
      padding: 10px;
      margin: 10px; }
    section.manage-addstore-container form div input[type="text"]:focus {
      outline: 0;
      border: 1px solid #1f9b35; }
    section.manage-addstore-container form div input[type="file"] {
      width: 281px;
      height: 18px;
      border: 1px solid #999999;
      padding: 8px 5px;
      margin: 10px; }
    section.manage-addstore-container form div input[type="file"]:focus {
      outline: 0;
      border: 1px solid #1f9b35; }
    section.manage-addstore-container form div textarea {
      width: 271px;
      max-width: 271px;
      height: 83px;
      font-family: latoregular, sans-serif;
      font-size: 16px;
      border: 1px solid #999999;
      padding: 10px;
      margin: 10px; }
    section.manage-addstore-container form div textarea:nth-child(n+10) {
      height: 148px; }
    section.manage-addstore-container form div textarea:focus {
      outline: 0;
      border: 1px solid #1f9b35; }
    section.manage-addstore-container form div textarea.description-hidden {
      display: none; }
    section.manage-addstore-container form div img {
      width: 295px;
      margin: 10px; }
    section.manage-addstore-container form div span.field-validation-error {
      display: block;
      width: 293px;
      font-family: latoregular, sans-serif;
      font-size: 14px;
      color: #e84340;
      padding: 0 10px;
      margin: 0 0 5px 0; }
  section.manage-addstore-container form div:nth-of-type(2) {
    margin: 0 39px 0 0; }
  section.manage-addstore-container form div:nth-of-type(3) {
    margin: 0; }
  section.manage-addstore-container form div.validation-summary-errors {
    display: none; }
  section.manage-addstore-container form input[type="submit"] {
    float: left;
    width: 315px;
    height: 40px;
    font-family: latoregular, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #1f9b35;
    border: none;
    margin: 25px 0 0 0; }
  section.manage-addstore-container form input[type="submit"]:hover {
    cursor: pointer;
    background-color: #197f25; }
  section.manage-addstore-container form input[type="submit"]:focus {
    outline: 0; }

section.manage-addblog-elements {
  margin-top: 30px;
  height: 65px;
  background-color: #ffffff; }
  section.manage-addblog-elements ul {
    height: 65px; }
    section.manage-addblog-elements ul li {
      float: left;
      width: 170px;
      height: 65px;
      list-style: none;
      text-align: center; }
      section.manage-addblog-elements ul li svg {
        float: left;
        display: block;
        width: 24px;
        height: 24px;
        margin: 10px 0 0 73px; }
      section.manage-addblog-elements ul li p {
        clear: left;
        font-family: latoregular, sans-serif;
        text-transform: lowercase;
        font-size: 16px;
        padding: 5px 0 0 0; }
    section.manage-addblog-elements ul li:nth-of-type(3) {
      width: 172px; }
    section.manage-addblog-elements ul li:nth-of-type(4) {
      width: 172px; }
    section.manage-addblog-elements ul li:hover {
      cursor: pointer; }
    section.manage-addblog-elements ul li:hover svg g path {
      fill: #1f9b35; }
    section.manage-addblog-elements ul li:hover p {
      color: #1f9b35; }

section.manage-addblog-crucial {
  margin-top: 30px;
  background-color: #ffffff; }
  section.manage-addblog-crucial h2 {
    font-family: latoregular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px dashed #cccccc;
    padding: 10px; }
  section.manage-addblog-crucial form {
    margin: 5px 0 0 0; }
    section.manage-addblog-crucial form div:nth-of-type(1) {
      float: left;
      width: 650px; }
      section.manage-addblog-crucial form div:nth-of-type(1) input[type="text"] {
        float: left;
        width: 303px;
        height: 18px;
        border: 1px solid #999999;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        padding: 10px;
        margin: 10px; }
      section.manage-addblog-crucial form div:nth-of-type(1) input[type="text"].manage-addblog-title {
        width: 608px; }
      section.manage-addblog-crucial form div:nth-of-type(1) input[type="text"]:focus {
        outline: 0;
        border: 1px solid #1f9b35; }
      section.manage-addblog-crucial form div:nth-of-type(1) textarea {
        width: 608px;
        height: 100px;
        max-width: 608px;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        padding: 10px;
        margin: 10px; }
      section.manage-addblog-crucial form div:nth-of-type(1) textarea:focus {
        outline: 0;
        border: 1px solid #1f9b35; }
      section.manage-addblog-crucial form div:nth-of-type(1) select {
        display: block;
        float: left;
        width: 285px;
        height: 40px;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        border: 1px solid #999999;
        padding: 0 10px;
        margin: 10px 0 10px 10px; }
      section.manage-addblog-crucial form div:nth-of-type(1) select:focus {
        outline: 0;
        border: 1px solid #1f9b35; }
    section.manage-addblog-crucial form div:nth-of-type(2) {
      float: left;
      width: 350px;
      margin: 10px 0 0 0; }
      section.manage-addblog-crucial form div:nth-of-type(2) ul {
        float: left;
        width: 40px;
        height: 182px;
        text-align: center; }
        section.manage-addblog-crucial form div:nth-of-type(2) ul li {
          height: 45px;
          font-family: latoregular, sans-serif;
          font-size: 16px;
          line-height: 40px;
          list-style: none; }
        section.manage-addblog-crucial form div:nth-of-type(2) ul li:last-of-type {
          padding: 2px 0 0 0; }
        section.manage-addblog-crucial form div:nth-of-type(2) ul li:hover {
          cursor: pointer;
          color: #1f9b35; }
      section.manage-addblog-crucial form div:nth-of-type(2) img {
        float: left;
        width: 290px;
        height: 165px;
        margin: 0 0 0 20px; }
      section.manage-addblog-crucial form div:nth-of-type(2) input[type="file"] {
        float: left;
        width: 280px;
        height: 22px;
        border: 1px solid #999999;
        padding: 8px 5px;
        margin: 23px 0 0 60px; }
      section.manage-addblog-crucial form div:nth-of-type(2) input[type="file"]:focus {
        outline: 0;
        border: 1px solid #1f9b35; }

footer {
  margin-top: 60px;
  margin-bottom: 30px;
  border-top: 1px solid #999999; }
  footer p {
    float: left;
    width: 300px;
    font-family: latoregular, sans-serif;
    font-size: 14px;
    color: #333333;
    padding: 15px 0; }
    footer p a, footer p section.search-results div a svg, section.search-results div a footer p svg, footer p section.search-nearby-results div a svg, section.search-nearby-results div a footer p svg {
      font-family: latoregular, sans-serif;
      font-size: 14px;
      color: #333333;
      text-decoration: none; }
    footer p a:hover, footer p section.search-results div a svg:hover, section.search-results div a footer p svg:hover, footer p section.search-nearby-results div a svg:hover, section.search-nearby-results div a footer p svg:hover {
      text-decoration: underline; }
    footer p a:focus, footer p section.search-results div a svg:focus, section.search-results div a footer p svg:focus, footer p section.search-nearby-results div a svg:focus, section.search-nearby-results div a footer p svg:focus {
      outline: none; }
  footer select {
    float: right;
    font-family: latoregular, sans-serif;
    padding: 5px;
    margin: 10px 0; }
  footer select:focus {
    outline: 0;
    border: 1px solid #1f9b35; }

/*# sourceMappingURL=style.css.map */
