@import "_mixins.scss";

$background-color: #f3f3f3;
$fill-dark-grey: #333333;
$fill-white: #ffffff;
$secondary-green: #1f9b35;
$secondary-green-active: #197f25;
$accent-orange: #f79956;
$font-color-dark-grey: #333333;
$font-color-light-grey: #999999;
$font-color-white: #ffffff;
$border-color-default: #e9e9e9;
$border-color-light-grey: #999999;
$border-color-dashed: #cccccc;
$border-color-focus-green: #1f9b35;
$error-color: #e84340;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
}

.content-container {
    display: block;
    width: 1024px;
    margin: 0 auto;
}

header {
    z-index: -999;
    width: 100%;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('http://floreview.blob.core.windows.net/images/home_background.jpg');

    nav {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 48px;
        background: rgba(255, 255, 255, 0.8);

        @include transition(all ease-in-out 300ms);

        ul li {
            float: left;
            list-style: none;
            margin: 0 25px 0 0;

            a {
                color: $font-color-dark-grey;
                text-decoration: none;
                text-transform: lowercase;
                font-family: latoregular, sans-serif;
                font-size: 20px;
                line-height: 48px;
            }
        }

        ul li:last-of-type {
            float: right;
            margin: 0;

            a {
                font-size: 16px;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    nav.scrolled {
        border-bottom: 1px solid $border-color-dashed;
        background: rgba(255, 255, 255, 1);
    }

    section.menu-admin {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 32px;
        top: 48px;
        background-color: $fill-dark-grey;

        @include transition(all ease-in-out 300ms);

        ul li {
            float: left;
            list-style: none;
            margin: 0 25px 0 0;

            a {
                color: $font-color-white;
                text-decoration: none;
                text-transform: lowercase;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                line-height: 32px;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    section.home-search-container {
        position: relative;
        width: 100%;
        height: 150px;
        top: 200px;

        h1 {
            width: 900px;
            color: $font-color-dark-grey;
            font-family: latoregular, sans-serif;
            font-size: 36px;
            font-weight: 400;
            margin: 0 auto;
        }

        form {
            width: 900px;
            height: 100px;
            background: rgba(255, 255, 255, 0.8);
            margin: 10px auto 0 auto;

            input[type="text"] {
                width: 300px;
                height: 20px;
                background-color: $fill-white;
                border: 1px solid $border-color-light-grey;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                padding: 10px;
            }

            input[type="text"]:first-of-type {
                margin: 30px 0 0 20px;
            }

            input[type="text"]:nth-child(2) {
                margin: 30px 20px 0 20px;
            }

            input[type="text"]:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
            }

            input[type="submit"] {
                width: 160px;
                height: 40px;
                background-color: $secondary-green;
                border: none;
                font-family: latoregular, sans-serif;
                font-size: 18px;
                color: $font-color-white;
                margin: 0 0 0 7px;
            }

            input[type="submit"]:hover {
                cursor: pointer;
                background-color: $secondary-green-active;
            }

            input[type="submit"]:focus {
                outline: none;
            }
        }
    }
}

section.home-promotion-blogs {
    @extend .content-container;
    margin-top: 75px;
    @extend %clearfix;

    h2 {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        font-family: latoregular, sans-serif;
        color: $font-color-dark-grey;
        margin: 0 0 50px 0;
    }

    article {
        display: block;
        float: left;
        width: 315px;
        margin: 0 40px 0 0;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        @include prefix(box-sizing, border-box);

        img {
            max-width: 313px;
        }

        > a {
            display: block;
            height: 42px;
            max-height: 42px;
            color: $font-color-dark-grey;
            font-size: 18px;
            font-family: latoregular, sans-serif;
            text-decoration: none;
            border-bottom: 1px dashed $border-color-dashed;
            padding: 10px;
        }

        > a:hover {
            color: $secondary-green;
        }

        p {
            color: #333333;
            padding: 0 10px;
            font-size: 14px;
            font-family: latoregular, sans-serif;

            span {
                font-size: 14px;
                font-family: latoregular, sans-serif;
                color: $font-color-light-grey;
            }

            a {
                color: $font-color-dark-grey;
                font-size: 14px;
                font-family: latoregular, sans-serif;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        p:nth-of-type(1) {
            margin: 9px 0 4px 0;
        }

        p:nth-of-type(2) {
            margin: 4px 0 9px 0;
        }
    }

    article:nth-child(2) {
        margin: 0 39px 0 0;
    }

    article:last-of-type {
        margin: 0;
    }
}

article.home-promotion-about {
    @extend .content-container;
    margin-top: 50px;
    height: 110px;
    background-color: $accent-orange;

    h2 {
        font-weight: 400;
        font-size: 26px;
        font-family: latoregular, sans-serif;
        color: $font-color-white;
        padding: 10px;
    }

    p {
        font-family: latoregular, sans-serif;
        color: $font-color-white;
        padding: 5px 10px;
    }
}

footer {
    height: 200px;
}