@import "_mixins.scss";

$background-color: #f3f3f3;
$fill-dark-grey: #333333;
$fill-white: #ffffff;
$secondary-green: #1f9b35;
$secondary-green-active: #197f25;
$accent-orange: #f79956;
$font-color-dark-grey: #333333;
$font-color-light-grey: #999999;
$font-color-white: #ffffff;
$border-color-default: #e9e9e9;
$border-color-light-grey: #999999;
$border-color-dashed: #cccccc;
$border-color-focus-green: #1f9b35;
$error-color: #e84340;

* {
    margin: 0;
    padding: 0;
}

html {
    @include prefix(overflow-y, scroll);
}

body {
    background-color: $background-color;
}

.content-container {
    display: block;
    width: 1024px;
    margin: 0 auto;
}

header {
    z-index: -999;
    width: 100%;
    height: 510px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('http://floreview.blob.core.windows.net/images/home_background.jpg');

    nav {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 48px;
        background: rgba(255, 255, 255, 0.8);

        @include transition(all ease-in-out 300ms);

        ul li {
            float: left;
            list-style: none;
            margin: 0 25px 0 0;

            a {
                color: $font-color-dark-grey;
                text-decoration: none;
                text-transform: lowercase;
                font-family: latoregular, sans-serif;
                font-size: 20px;
                line-height: 48px;
            }

            a:focus {
                outline: none;
            }
        }

        ul li:last-of-type {
            float: right;
            margin: 0;

            a {
                font-size: 16px;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        form a:hover {
            cursor: pointer;
        }
    }

    nav.scrolled {
        border-bottom: 1px solid $border-color-dashed;
        background: rgba(255, 255, 255, 1);
    }

    section.menu-admin {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 32px;
        top: 48px;
        background-color: $fill-dark-grey;

        @include transition(all ease-in-out 300ms);

        ul li {
            float: left;
            list-style: none;
            margin: 0 25px 0 0;

            a {
                color: $font-color-white;
                text-decoration: none;
                text-transform: lowercase;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                line-height: 32px;
            }

            a:hover {
                text-decoration: underline;
            }

            a:focus {
                outline: none;
            }
        }
    }

    section.home-search-container {
        position: relative;
        width: 100%;
        height: 150px;
        top: 200px;

        h1 {
            width: 900px;
            color: $font-color-dark-grey;
            font-family: latoregular, sans-serif;
            font-size: 36px;
            font-weight: 400;
            margin: 0 auto;
        }

        form {
            width: 900px;
            height: 100px;
            background: rgba(255, 255, 255, 0.8);
            margin: 10px auto 0 auto;

            input[type="text"] {
                width: 300px;
                height: 20px;
                background-color: $fill-white;
                border: 1px solid $border-color-light-grey;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                padding: 10px;
            }

            input[type="text"]:first-of-type {
                margin: 30px 0 0 20px;
            }

            input[type="text"]:nth-child(2) {
                margin: 30px 20px 0 20px;
            }

            input[type="text"]:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
            }

            input[type="submit"] {
                width: 160px;
                height: 40px;
                background-color: $secondary-green;
                border: none;
                font-family: latoregular, sans-serif;
                font-size: 18px;
                color: $font-color-white;
                margin: 0 0 0 7px;
            }

            input[type="submit"]:hover {
                cursor: pointer;
                background-color: $secondary-green-active;
            }

            input[type="submit"]:focus {
                outline: none;
            }
        }
    }
}

header.small {
    height: 48px;
    background: none;
}

header.admin {
    height: 80px;
    background: none;
}

section.login {
    @extend .content-container;
    margin-top: 30px;
    width: 315px;
    border: $border-color-default;
    background-color: $fill-white;

    h2 {
        font-family: latoregular, sans-serif;
        font-weight: 400;
        font-size: 26px;
        color: $font-color-dark-grey;
        padding: 10px;
    }

    form {
        padding: 10px;

        input {
            display: block;
            width: 100%;
            border: 1px solid $border-color-light-grey;
            @include prefix(box-sizing, border-box);
            font-family: latoregular, sans-serif;
            font-size: 16px;
            padding: 10px;
            margin: 10px 0 0 0;
        }

        input:focus {
            outline: none;
            border: 1px solid $border-color-focus-green;
        }

        input[type="text"] {
            margin: 0;
        }

        input[type="submit"] {
            border: none;
            background-color: $secondary-green;
            font-size: 18px;
            color: $fill-white;
        }

        input[type="submit"]:hover {
            cursor: pointer;
            background-color: $secondary-green-active;
        }

        span.field-validation-error {
            display: block;
            width: 100%;
            @include prefix(box-sizing, border-box);
            font-family: latoregular, sans-serif;
            font-size: 14px;
            color: $error-color;
            padding: 5px 0;
        }

        span.field-validation-error[data-valmsg-for="LoginError"] {
            padding: 0 0 10px 0;
        }
    }
}

section.home-promotion-blogs {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 75px;

    h2 {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        font-family: latoregular, sans-serif;
        color: $font-color-dark-grey;
        margin: 0 0 50px 0;
    }

    article {
        display: block;
        float: left;
        width: 315px;
        margin: 0 40px 0 0;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        @include prefix(box-sizing, border-box);

        img {
            max-width: 313px;
            border-bottom: 1px solid $border-color-default;
        }

        > a {
            display: block;
            height: 42px;
            max-height: 42px;
            color: $font-color-dark-grey;
            font-size: 18px;
            font-family: latoregular, sans-serif;
            text-decoration: none;
            border-bottom: 1px dashed $border-color-dashed;
            padding: 10px;
        }

        > a:hover {
            color: $secondary-green;
        }

        p {
            color: #333333;
            padding: 0 10px;
            font-size: 14px;
            font-family: latoregular, sans-serif;

            span {
                font-size: 14px;
                font-family: latoregular, sans-serif;
                color: $font-color-light-grey;
            }

            a {
                color: $font-color-dark-grey;
                font-size: 14px;
                font-family: latoregular, sans-serif;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        p:nth-of-type(1) {
            margin: 9px 0 4px 0;
        }

        p:nth-of-type(2) {
            margin: 4px 0 9px 0;
        }
    }

    article:nth-of-type(2) {
        margin: 0 39px 0 0;
    }

    article:last-of-type {
        margin: 0;
    }
}

article.home-promotion-about {
    @extend .content-container;
    margin-top: 50px;
    height: 110px;
    background-color: $accent-orange;

    h2 {
        font-weight: 400;
        font-size: 26px;
        font-family: latoregular, sans-serif;
        color: $font-color-white;
        padding: 10px;
    }

    p {
        font-family: latoregular, sans-serif;
        color: $font-color-white;
        padding: 5px 10px;
    }
}

section.search-information {
    @extend .content-container;
    @extend %clearfix;

    div {
        @extend %clearfix;
        float: left;
        width: 315px;
        height: 60px;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        @include prefix(box-sizing, border-box);
        margin: 30px 40px 0 0;

        h2 {
            float: left;
            width: 157px;
            height: 58px;
            font-family: latoregular, sans-serif;
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            color: $font-color-dark-grey;
            line-height: 60px;
            border-right: 1px dashed $border-color-dashed;
        }

        p {
            float: left;
            width: 155px;
            height: 58px;
            font-family: latoregular, sans-serif;
            font-weight: 400;
            font-size: 18px;
            text-align: center;
            color: $font-color-dark-grey;
            line-height: 60px;
            overflow: hidden;
        }
    }

    div:nth-of-type(2) {
        margin: 30px 39px 0 0;
    }

    div:nth-of-type(3) {
        margin: 30px 0 0 0;
    }
}

section.search-results {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;

    div {
        float: left;
        width: 490px;
        height: 150px;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        margin: 0 0 25px 0;

        img {
            display: block;
            float: left;
            width: 150px;
            height: 150px;
            max-width: 150px;
            max-height: 150px;
        }

        h3 {
            float: left;
            padding: 5px 10px;
            width: 290px;
            font-family: latoregular, sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: $font-color-dark-grey;
            @include prefix(box-sizing, border-box);
        }

        p {
            float: left;
            width: 290px;
            font-family: latoregular, sans-serif;
            font-size: 16px;
            color: $font-color-dark-grey;
            @include prefix(box-sizing, border-box);
        }

        p:first-of-type {
            margin: -15px 0 0 0;
            padding: 0 10px;
            height: 85px;
        }

        p:nth-of-type(2) {
            font-size: 14px;
            margin: 5px 0 0 0;
            padding: 0 10px;
        }

        a {
            display: block;
            float: left;
            width: 50px;
            height: 50px;

            svg {
                @extend a;
            }

            svg:hover {
                cursor: pointer;
            }
        }

        a:nth-of-type(1) {
            svg:hover path {
                fill: #36609f;
            }
        }

        a:nth-of-type(2) {
            svg:hover path {
                fill: #1e70b6;
            }
        }

        a:nth-of-type(3) {
            margin: -20px 0 0 0;

            svg:hover path {
                fill: $secondary-green;
            }
        }
    }

    div:nth-of-type(odd) {
        margin: 0 40px 25px 0;
    }
}

section.search-nearby-results {
    @extend .content-container;
    @extend %clearfix;
    @extend section.search-results;

    h2 {
        font-family: latoregular, sans-serif;
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: $font-color-dark-grey;
        margin: 0 0 50px 0;
    }
}

section.detail-profile {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;
    background-color: $fill-white;
    border: 1px solid $border-color-default;


    div.detail-profile-left {
        float: left;
        width: 645px;
        padding: 10px;

        h1 {
            font-family: latoregular, sans-serif;
            font-weight: 400;
            font-size: 32px;
            color: $font-color-dark-grey;
        }

        p {
            height: 110px;
            max-height: 110px;
            font-family: latoregular, sans-serif;
            font-size: 16px;
            text-align: justify;
            color: $font-color-dark-grey;
            margin: 15px 0 0 0;
        }

        div.detail-profile-pictures {
            margin: 75px 0 0 0;

            ul li {
                display: block;
                float: left;
                list-style: none;
                width: 125px;
                height: 125px;
                margin: 0 5px 0 0;

                img {
                    width: 125px;
                    height: 125px;
                }
            }

            ul li:last-of-type {
                margin: 0;
            }
        }
    }

    div.detail-profile-right {
        float: left;
        width: 300px;
        padding: 10px;
        margin: 0 0 0 39px;

        div.google-map {
            width: 300px;
            height: 300px;
            overflow: hidden;

            div#map-canvas {
                width: 300px;
                height: 317px;
            }
        }

        div.detail-profile-contact {
            margin: 10px 0 0 0;
            height: 50px;

            ul {
                position: relative;
                height: 50px;

                li {
                    display: block;
                    float: left;
                    list-style: none;
                    height: 50px;
                    width: 50px;

                    svg:hover {
                        cursor: pointer;
                    }

                    svg.icon-facebook:hover path {
                        fill: #36609f;
                    }

                    svg.icon-mail:hover path {
                        fill: #1e70b6;
                    }

                    svg.icon-site:hover path {
                        fill: #f27730;
                    }

                    svg.icon-phone:hover path {
                        fill: #98bc3e;
                    }

                    svg.icon-mobile:hover g path {
                        fill: #4490ce;
                    }

                    svg.icon-mobile:hover g rect {
                        fill: #4490ce;
                    }

                    svg.icon-gps:hover g path {
                        fill: #e84340;
                    }
                }
            }

            div.detail-profile-contact-popup {
                position: relative;
                height: 40px;

                a, p {
                    display: none;
                    padding: 0 10px;
                    line-height: 40px;
                    font-family: latoregular, sans-serif;
                    font-size: 16px;
                    text-decoration: none;
                    color: $font-color-white;
                }

                a.active, p.active {
                    display: block;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section.blog-detail-container {
    @extend .content-container;
    margin-top: 30px;
    background-color: $fill-white;
    border: 1px solid $border-color-default;

    h2 {
        font-family: latoregular, sans-serif;
        font-weight: 400;
        font-size: 32px;
        color: $font-color-dark-grey;
        margin: 10px;
    }

    p:first-of-type {
        font-family: latoregular, sans-serif;
        font-size: 16px;
        color: $font-color-dark-grey;
        margin: 10px 10px 25px 10px;

        span {
            color: $font-color-light-grey;
            text-transform: lowercase;
        }

        a {
            color: $font-color-dark-grey;
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    p.blog-plain-text {
        font-family: latoregular, sans-serif;
        font-size: 16px;
        color: $font-color-dark-grey;
        margin: 15px 10px;
    }
}

section.blog-container {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;

    div.blog-list {
        float: left;
        width: 670px;
        margin: 0 40px 0 0;

        article {
            @extend %clearfix;
            background-color: $fill-white;
            border: 1px solid $border-color-default;
            margin: 0 0 30px 0;

            img {
                float: left;
                height: 125px;
                width: 220px;
            }

            a {
                display: block;
                float: left;
                width: 426px;
                font-family: latoregular, sans-serif;
                font-size: 18px;
                color: $font-color-dark-grey;
                padding: 5px 10px;
                text-decoration: none;
            }

            a:hover {
                color: $secondary-green;
            }

            p {
                float: left;
                width: 426px;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                color: $font-color-dark-grey;
                padding: 5px 10px;
                margin: 10px 0 0 0;
            }

            p:first-of-type {
                height: 74px;
            }
        }
    }

    div.blog-side {
        float: left;
        width: 314px;

        form {
            @extend %clearfix;

            input[type="text"] {
                float: left;
                width: 253px;
                height: 18px;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                border: 1px solid $border-color-light-grey;
                border-right: none;
                padding: 10px;
            }

            input[type="text"]:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
                border-right: none;
            }

            input[type="submit"] {
                width: 40px;
                height: 40px;
                background-image: url(http://floreview.blob.core.windows.net/images/search_icon.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-color: $secondary-green;
                border: 1px solid $secondary-green;
            }

            input[type="submit"]:hover {
                cursor: pointer;
                background-image: url(http://floreview.blob.core.windows.net/images/search_icon_hover.svg);
                border: 1px solid $secondary-green-active;
                background-color: $secondary-green-active;
            }
        }

        div.blog-sort-options {
            margin: 25px 0 0 0;

            h3 {
                font-family: latoregular, sans-serif;
                font-weight: 400;
                color: $font-color-dark-grey;
                border-bottom: 1px solid $border-color-dashed;
                padding: 10px 0;
            }

            ul li {
                list-style: none;
                margin: 10px 0;

                a {
                    font-family: latoregular, sans-serif;
                    color: $font-color-dark-grey;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

section.manage-information {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;
    height: 60px;
    background-color: $fill-white;

    a {
        display: block;
        float: left;
        width: 160px;
        height: 40px;
        background-color: $secondary-green;
        font-family: latoregular, sans-serif;
        font-size: 18px;
        color: $font-color-white;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        margin: 10px 0 0 10px;
    }

    a:hover {
        cursor: pointer;
        background-color: $secondary-green-active;
    }

    select {
        float: right;
        width: 160px;
        height: 40px;
        font-family: latoregular, sans-serif;
        font-size: 14px;
        margin: 10px 10px 0 0;
        padding: 10px 5px;
        border: 1px solid $border-color-light-grey;
    }

    select:focus {
        outline: 0;
        border: 1px solid $border-color-focus-green;
    }

    input[type="text"] {
        display: block;
        float: right;
        width: 160px;
        height: 20px;
        font-family: latoregular, sans-serif;
        font-size: 14px;
        margin: 10px 10px 0 0;
        padding: 10px;
        border: 1px solid $border-color-light-grey;
    }

    input[type="text"]:focus {
        outline: 0;
        border: 1px solid $border-color-focus-green;
    }

    img {
        display: none;
        float: right;
        width: 20px;
        height: 20px;
        margin: 20px 10px 0 0;
    }

    img.loading {
        display: block;
    }
}

section.manage-store-list {
    @extend .content-container;
    margin-top: 30px;

    div.store-profile {
        height: 50px;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        margin: 0 0 15px 0;

        p {
            float: left;
            font-family: latoregular, sans-serif;
            line-height: 50px;
            width: 270px;
            padding: 0 10px;
            border-right: 1px dashed $border-color-dashed;
        }

        p:nth-of-type(3) {
            border: none;
        }

        ul li {
            display: block;
            float: left;
            list-style: none;
            width: 50px;
            height: 50px;

            a {
                display: block;
                width: 50px;
                height: 50px;

                svg {
                    display: block;
                    width: 50px;
                    height: 50px;
                }

                svg:hover {
                    cursor: pointer;
                }

                svg.icon-info:hover path {
                    fill: #1f9b35;
                }

                svg.icon-info:hover rect {
                    fill: #1f9b35;
                }

                svg.icon-edit:hover rect {
                    fill: #f7bb31;
                }

                svg.icon-delete:hover rect {
                    fill: #f24730;
                }
            }

            a:focus {
                outline: none;
            }
        }
    }
}

section.manage-addstore-container {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;

    form div {
        float: left;
        width: 315px;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        @include prefix(box-sizing, border-box);
        margin: 0 40px 0 0;

        h2 {
            font-family: latoregular, sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $font-color-dark-grey;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px dashed $border-color-dashed;
            padding: 10px;
        }

        ul {
            margin: 10px;
            @extend %clearfix;

            li {
                float: left;
                list-style: none;
                font-family: latoregular, sans-serif;
                text-align: center;
                width: 60px;
                height: 18px;
                padding: 10px 0;
                margin: 0 17px 0 0;
            }

            li:last-of-type {
                margin: 0;
            }

            li:hover {
                cursor: pointer;
                color: $secondary-green;
            }
        }

        ul#manage-addstore-company-images-list {
            li {
                float: none;
                list-style: disc;
                padding: 5px 0;
                margin: 0 0 0 20px;
            }

            li:hover {
                color: $font-color-dark-grey;
                cursor: default;
            }
        }

        input[type="text"] {
            width: 271px;
            height: 18px;
            font-family: latoregular, sans-serif;
            font-size: 16px;
            border: 1px solid $border-color-light-grey;
            padding: 10px;
            margin: 10px;
        }

        input[type="text"]:focus {
            outline: 0;
            border: 1px solid $border-color-focus-green;
        }

        input[type="file"] {
            width: 281px;
            height: 18px;
            border: 1px solid $border-color-light-grey;
            padding: 8px 5px;
            margin: 10px;
        }

        input[type="file"]:focus {
            outline: 0;
            border: 1px solid $border-color-focus-green;
        }

        textarea {
            width: 271px;
            max-width: 271px;
            height: 83px;
            font-family: latoregular, sans-serif;
            font-size: 16px;
            border: 1px solid $border-color-light-grey;
            padding: 10px;
            margin: 10px;
        }

        textarea:nth-child(n+10) {
            height: 148px;
        }

        textarea:focus {
            outline: 0;
            border: 1px solid $border-color-focus-green;
        }

        textarea.description-hidden {
            display: none;
        }

        img {
            width: 295px;
            margin: 10px;
        }

        span.field-validation-error {
            display: block;
            width: 293px;
            font-family: latoregular, sans-serif;
            font-size: 14px;
            color: $error-color;
            padding: 0 10px;
            margin: 0 0 5px 0;
        }
    }

    form div:nth-of-type(2) {
        margin: 0 39px 0 0;
    }

    form div:nth-of-type(3) {
        margin: 0;
    }

    form div.validation-summary-errors {
        display: none;
    }

    form input[type="submit"] {
        float: left;
        width: 315px;
        height: 40px;
        font-family: latoregular, sans-serif;
        font-size: 18px;
        color: $font-color-white;
        background-color: $secondary-green;
        border: none;
        margin: 25px 0 0 0;
    }

    form input[type="submit"]:hover {
        cursor: pointer;
        background-color: $secondary-green-active;
    }

    form input[type="submit"]:focus {
        outline: 0;
    }
}

section.manage-blog-list {
    @extend .content-container;
    margin-top: 30px;

    div.blog-profile {
        height: 50px;
        background-color: $fill-white;
        border: 1px solid $border-color-default;
        margin: 0 0 15px 0;

        p {
            float: left;
            font-family: latoregular, sans-serif;
            line-height: 50px;
            padding: 0 10px;
            border-right: 1px dashed $border-color-dashed;
        }

        p:first-of-type {
            width: 450px;
        }

        p:nth-of-type(2) {
            width: 205px;
        }

        p:nth-of-type(3) {
            width: 205px;
            border: none;
        }

        ul li {
            display: block;
            float: left;
            list-style: none;
            width: 50px;
            height: 50px;

            a {
                display: block;
                width: 50px;
                height: 50px;

                svg {
                    display: block;
                    width: 50px;
                    height: 50px;
                }

                svg:hover {
                    cursor: pointer;
                }

                svg.icon-info:hover path {
                    fill: #1f9b35;
                }

                svg.icon-info:hover rect {
                    fill: #1f9b35;
                }

                svg.icon-edit:hover rect {
                    fill: #f7bb31;
                }

                svg.icon-delete:hover rect {
                    fill: #f24730;
                }
            }

            a:focus {
                outline: none;
            }
        }
    }
}

section.manage-addblog-elements {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;
    height: 65px;
    background-color: $fill-white;

    ul {
        height: 65px;

        li {
            @extend %clearfix;
            float: left;
            width: 170px;
            height: 65px;
            list-style: none;
            text-align: center;

            svg {
                float: left;
                display: block;
                width: 24px;
                height: 24px;
                margin: 10px 0 0 73px;
            }

            p {
                clear: left;
                font-family: latoregular, sans-serif;
                text-transform: lowercase;
                font-size: 16px;
                padding: 5px 0 0 0;
            }
        }

        li:nth-of-type(3) {
            width: 172px;
        }

        li:nth-of-type(4) {
            width: 172px;
        }

        li:hover {
            cursor: pointer;
        }

        li:hover svg g path {
            fill: $secondary-green;
        }

        li:hover p {
            color: $secondary-green;
        }
    }
}

section.manage-addblog-crucial {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 30px;
    background-color: $fill-white;
    border: 1px solid $border-color-default;

    h2 {
        font-family: latoregular, sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $font-color-dark-grey;
        text-transform: uppercase;
        text-align: center;
        border-bottom: 1px dashed $border-color-dashed;
        padding: 10px;
    }

    form {
        @extend %clearfix;
        margin: 5px 0 0 0;

        div:nth-of-type(1) {
            float: left;
            width: 650px;

            input[type="text"] {
                float: left;
                width: 303px;
                height: 18px;
                border: 1px solid $border-color-light-grey;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                padding: 10px;
                margin: 10px;
            }

            input[type="text"].manage-addblog-title {
                width: 608px;
            }

            input[type="text"]:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
            }

            textarea {
                width: 608px;
                height: 100px;
                max-width: 608px;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                padding: 10px;
                margin: 10px;
            }

            textarea:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
            }

            select {
                display: block;
                float: left;
                width: 285px;
                height: 40px;
                font-family: latoregular, sans-serif;
                font-size: 16px;
                border: 1px solid $border-color-light-grey;
                padding: 0 10px;
                margin: 10px 0 10px 10px;
            }

            select:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
            }

            input[type="text"].blog-crucial-hidden {
                display: none;
            }

            textarea.blog-crucial-hidden {
                display: none;
            }
        }

        div:nth-of-type(2) {
            float: left;
            width: 350px;
            margin: 10px 0 0 0;

            ul {
                float: left;
                width: 40px;
                height: 182px;
                text-align: center;

                li {
                    height: 45px;
                    font-family: latoregular, sans-serif;
                    font-size: 16px;
                    line-height: 40px;
                    list-style: none;
                }

                li:last-of-type {
                    padding: 2px 0 0 0;
                }

                li:hover {
                    cursor: pointer;
                    color: $secondary-green;
                }
            }

            img {
                float: left;
                width: 290px;
                height: 165px;
                margin: 0 0 0 20px;
            }

            input[type="file"] {
                float: left;
                width: 280px;
                height: 22px;
                border: 1px solid $border-color-light-grey;
                padding: 8px 5px;
                margin: 23px 0 0 60px;
            }

            input[type="file"]:focus {
                outline: 0;
                border: 1px solid $border-color-focus-green;
            }

            input[type="submit"] {
                float: left;
                width: 292px;
                height: 40px;
                font-family: latoregular, sans-serif;
                font-size: 18px;
                color: $font-color-white;
                background-color: $secondary-green;
                border: none;
                margin: 20px 10px 10px 60px;
            }

            input[type="submit"]:hover {
                cursor: pointer;
                background-color: $secondary-green-active;
            }

            input[type="submit"]:focus {
                outline: 0;
            }
        }
    }
}

section.manage-addblog-container {
    @extend .content-container;

    div.blog-element {
        @extend .content-container;
        @extend %clearfix;
        margin-top: 30px;
        background-color: $fill-white;
        border: 1px solid $border-color-default;

        h2 {
            float: left;
            width: 884px;
            font-family: latoregular, sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: $font-color-dark-grey;
            text-transform: uppercase;
            border-bottom: 1px dashed $border-color-dashed;
            padding: 10px;
            margin: 0 0 5px 0;
        }

        ul {
            @extend %clearfix;
            float: left;
            height: 38px;
            width: 120px;
            border-bottom: 1px dashed $border-color-dashed;
            margin: 0 0 5px 0;

            li {
                float: left;
                display: block;
                height: 40px;
                width: 40px;

                svg {
                    display: block;
                    height: 24px;
                    width: 24px;
                    margin: 8px 0 0 8px;
                }
            }

            li:hover {
                cursor: pointer;
            }

            li:nth-of-type(1):hover rect {
                fill: $secondary-green;
            }

            li:nth-of-type(2):hover rect {
                stroke: $secondary-green;
            }

            li:nth-of-type(3):hover path {
                fill: $secondary-green;
            }
        }
    }

    div.blog-element.minimized {
        height: 38px;
        overflow: hidden;
    }

    div.blog-element-plain-text {
        textarea {
            width: 982px;
            max-width: 982px;
            height: 100px;
            font-family: latoregular, sans-serif;
            font-size: 16px;
            border: 1px solid $border-color-light-grey;
            padding: 10px;
            margin: 10px;
        }

        textarea:focus {
            outline: 0;
            border: 1px solid $border-color-focus-green;
        }
    }
}

footer {
    @extend .content-container;
    @extend %clearfix;
    margin-top: 60px;
    margin-bottom: 30px;
    border-top: 1px solid $border-color-light-grey;

    p {
        float: left;
        width: 300px;
        font-family: latoregular, sans-serif;
        font-size: 14px;
        color: $font-color-dark-grey;
        padding: 15px 0;

        a {
            font-family: latoregular, sans-serif;
            font-size: 14px;
            color: $font-color-dark-grey;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:focus {
            outline: none;
        }
    }

    select {
        float: right;
        font-family: latoregular, sans-serif;
        padding: 5px;
        margin: 10px 0;
    }

    select:focus {
        outline: 0;
        border: 1px solid $border-color-focus-green;
    }
}
