section.home-promotion-blogs, section.search-information, section.search-information div, section.search-results, section.search-nearby-results {
  *zoom: 1; }
  section.home-promotion-blogs:before, section.search-information:before, section.search-information div:before, section.search-results:before, section.search-nearby-results:before, section.home-promotion-blogs:after, section.search-information:after, section.search-information div:after, section.search-results:after, section.search-nearby-results:after {
    content: " ";
    display: table; }
  section.home-promotion-blogs:after, section.search-information:after, section.search-information div:after, section.search-results:after, section.search-nearby-results:after {
    clear: both; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #f3f3f3; }

.content-container, section.home-promotion-blogs, article.home-promotion-about, section.search-information, section.search-results, section.search-nearby-results {
  display: block;
  width: 1024px;
  margin: 0 auto; }

header {
  z-index: -999;
  width: 100%;
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("http://floreview.blob.core.windows.net/images/home_background.jpg"); }
  header nav {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 48px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    header nav ul li {
      float: left;
      list-style: none;
      margin: 0 25px 0 0; }
      header nav ul li a, header nav ul li section.search-results div a svg, section.search-results div a header nav ul li svg, header nav ul li section.search-nearby-results div a svg, section.search-nearby-results div a header nav ul li svg {
        color: #333333;
        text-decoration: none;
        text-transform: lowercase;
        font-family: latoregular, sans-serif;
        font-size: 20px;
        line-height: 48px; }
    header nav ul li:last-of-type {
      float: right;
      margin: 0; }
      header nav ul li:last-of-type a, header nav ul li:last-of-type section.search-results div a svg, section.search-results div a header nav ul li:last-of-type svg, header nav ul li:last-of-type section.search-nearby-results div a svg, section.search-nearby-results div a header nav ul li:last-of-type svg {
        font-size: 16px; }
      header nav ul li:last-of-type a:hover, header nav ul li:last-of-type section.search-results div a svg:hover, section.search-results div a header nav ul li:last-of-type svg:hover, header nav ul li:last-of-type section.search-nearby-results div a svg:hover, section.search-nearby-results div a header nav ul li:last-of-type svg:hover {
        text-decoration: underline; }
    header nav form a:hover, header nav form section.search-results div a svg:hover, section.search-results div a header nav form svg:hover, header nav form section.search-nearby-results div a svg:hover, section.search-nearby-results div a header nav form svg:hover {
      cursor: pointer; }
  header nav.scrolled {
    border-bottom: 1px solid #cccccc;
    background: white; }
  header section.menu-admin {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 32px;
    top: 48px;
    background-color: #333333;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    -ms-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms; }
    header section.menu-admin ul li {
      float: left;
      list-style: none;
      margin: 0 25px 0 0; }
      header section.menu-admin ul li a, header section.menu-admin ul li section.search-results div a svg, section.search-results div a header section.menu-admin ul li svg, header section.menu-admin ul li section.search-nearby-results div a svg, section.search-nearby-results div a header section.menu-admin ul li svg {
        color: #ffffff;
        text-decoration: none;
        text-transform: lowercase;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        line-height: 32px; }
      header section.menu-admin ul li a:hover, header section.menu-admin ul li section.search-results div a svg:hover, section.search-results div a header section.menu-admin ul li svg:hover, header section.menu-admin ul li section.search-nearby-results div a svg:hover, section.search-nearby-results div a header section.menu-admin ul li svg:hover {
        text-decoration: underline; }
  header section.home-search-container {
    position: relative;
    width: 100%;
    height: 150px;
    top: 200px; }
    header section.home-search-container h1 {
      width: 900px;
      color: #333333;
      font-family: latoregular, sans-serif;
      font-size: 36px;
      font-weight: 400;
      margin: 0 auto; }
    header section.home-search-container form {
      width: 900px;
      height: 100px;
      background: rgba(255, 255, 255, 0.8);
      margin: 10px auto 0 auto; }
      header section.home-search-container form input[type="text"] {
        width: 300px;
        height: 20px;
        background-color: #ffffff;
        border: 1px solid #999999;
        font-family: latoregular, sans-serif;
        font-size: 16px;
        padding: 10px; }
      header section.home-search-container form input[type="text"]:first-of-type {
        margin: 30px 0 0 20px; }
      header section.home-search-container form input[type="text"]:nth-child(2) {
        margin: 30px 20px 0 20px; }
      header section.home-search-container form input[type="text"]:focus {
        outline: 0;
        border: 1px solid #1f9b35; }
      header section.home-search-container form input[type="submit"] {
        width: 160px;
        height: 40px;
        background-color: #1f9b35;
        border: none;
        font-family: latoregular, sans-serif;
        font-size: 18px;
        color: #ffffff;
        margin: 0 0 0 7px; }
      header section.home-search-container form input[type="submit"]:hover {
        cursor: pointer;
        background-color: #197f25; }
      header section.home-search-container form input[type="submit"]:focus {
        outline: none; }

header.small {
  height: 48px;
  background: none; }

header.admin {
  height: 80px;
  background: none; }

section.home-promotion-blogs {
  margin-top: 75px; }
  section.home-promotion-blogs h2 {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    font-family: latoregular, sans-serif;
    color: #333333;
    margin: 0 0 50px 0; }
  section.home-promotion-blogs article {
    display: block;
    float: left;
    width: 315px;
    margin: 0 40px 0 0;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    section.home-promotion-blogs article img {
      max-width: 313px; }
    section.home-promotion-blogs article > a, section.home-promotion-blogs section.search-results div a article > svg, section.search-results div a section.home-promotion-blogs article > svg, section.home-promotion-blogs section.search-nearby-results div a article > svg, section.search-nearby-results div a section.home-promotion-blogs article > svg {
      display: block;
      height: 42px;
      max-height: 42px;
      color: #333333;
      font-size: 18px;
      font-family: latoregular, sans-serif;
      text-decoration: none;
      border-bottom: 1px dashed #cccccc;
      padding: 10px; }
    section.home-promotion-blogs article > a:hover, section.home-promotion-blogs section.search-results div a article > svg:hover, section.search-results div a section.home-promotion-blogs article > svg:hover, section.home-promotion-blogs section.search-nearby-results div a article > svg:hover, section.search-nearby-results div a section.home-promotion-blogs article > svg:hover {
      color: #1f9b35; }
    section.home-promotion-blogs article p {
      color: #333333;
      padding: 0 10px;
      font-size: 14px;
      font-family: latoregular, sans-serif; }
      section.home-promotion-blogs article p span {
        font-size: 14px;
        font-family: latoregular, sans-serif;
        color: #999999; }
      section.home-promotion-blogs article p a, section.home-promotion-blogs article p section.search-results div a svg, section.search-results div a section.home-promotion-blogs article p svg, section.home-promotion-blogs article p section.search-nearby-results div a svg, section.search-nearby-results div a section.home-promotion-blogs article p svg {
        color: #333333;
        font-size: 14px;
        font-family: latoregular, sans-serif;
        text-decoration: none; }
      section.home-promotion-blogs article p a:hover, section.home-promotion-blogs article p section.search-results div a svg:hover, section.search-results div a section.home-promotion-blogs article p svg:hover, section.home-promotion-blogs article p section.search-nearby-results div a svg:hover, section.search-nearby-results div a section.home-promotion-blogs article p svg:hover {
        text-decoration: underline; }
    section.home-promotion-blogs article p:nth-of-type(1) {
      margin: 9px 0 4px 0; }
    section.home-promotion-blogs article p:nth-of-type(2) {
      margin: 4px 0 9px 0; }
  section.home-promotion-blogs article:nth-of-type(2) {
    margin: 0 39px 0 0; }
  section.home-promotion-blogs article:last-of-type {
    margin: 0; }

article.home-promotion-about {
  margin-top: 50px;
  height: 110px;
  background-color: #f79956; }
  article.home-promotion-about h2 {
    font-weight: 400;
    font-size: 26px;
    font-family: latoregular, sans-serif;
    color: #ffffff;
    padding: 10px; }
  article.home-promotion-about p {
    font-family: latoregular, sans-serif;
    color: #ffffff;
    padding: 5px 10px; }

section.search-information div {
  float: left;
  width: 315px;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 30px 40px 0 0; }
  section.search-information div h2 {
    float: left;
    width: 157px;
    height: 58px;
    font-family: latoregular, sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #333333;
    line-height: 60px;
    border-right: 1px dashed #cccccc; }
  section.search-information div p {
    float: left;
    width: 155px;
    height: 58px;
    font-family: latoregular, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #333333;
    line-height: 60px;
    overflow: hidden; }
section.search-information div:nth-of-type(2) {
  margin: 30px 39px 0 0; }
section.search-information div:nth-of-type(3) {
  margin: 30px 0 0 0; }

section.search-results, section.search-nearby-results {
  margin-top: 30px; }
  section.search-results div, section.search-nearby-results div {
    float: left;
    width: 490px;
    height: 150px;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    margin: 0 0 25px 0; }
    section.search-results div img, section.search-nearby-results div img {
      display: block;
      float: left;
      width: 150px;
      height: 150px;
      max-width: 150px;
      max-height: 150px; }
    section.search-results div h3, section.search-nearby-results div h3 {
      float: left;
      padding: 5px 5px 5px 5px;
      width: 290px;
      font-family: latoregular, sans-serif;
      font-weight: 400;
      font-size: 18px;
      color: #333333;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    section.search-results div p, section.search-nearby-results div p {
      float: left;
      width: 290px;
      font-family: latoregular, sans-serif;
      font-size: 16px;
      color: #333333;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    section.search-results div p:first-of-type, section.search-nearby-results div p:first-of-type {
      margin: -15px 0 0 0;
      padding: 0 5px;
      height: 85px; }
    section.search-results div p:nth-of-type(2), section.search-nearby-results div p:nth-of-type(2) {
      font-size: 14px;
      margin: 5px 0 0 0;
      padding: 0 5px; }
    section.search-results div a, section.search-nearby-results div a, section.search-results div a svg, section.search-nearby-results div a svg {
      display: block;
      float: left;
      width: 50px;
      height: 50px; }
      section.search-results div a svg:hover, section.search-nearby-results div a svg:hover {
        cursor: pointer; }
    section.search-results div a:nth-of-type(1) svg:hover path, section.search-nearby-results div a:nth-of-type(1) svg:hover path, section.search-results div a svg:nth-of-type(1) svg:hover path, section.search-nearby-results div a svg:nth-of-type(1) svg:hover path {
      fill: #36609f; }
    section.search-results div a:nth-of-type(2) svg:hover path, section.search-nearby-results div a:nth-of-type(2) svg:hover path, section.search-results div a svg:nth-of-type(2) svg:hover path, section.search-nearby-results div a svg:nth-of-type(2) svg:hover path {
      fill: #1e70b6; }
    section.search-results div a:nth-of-type(3), section.search-nearby-results div a:nth-of-type(3), section.search-results div a svg:nth-of-type(3), section.search-nearby-results div a svg:nth-of-type(3) {
      margin: -20px 0 0 0; }
      section.search-results div a:nth-of-type(3) svg:hover path, section.search-nearby-results div a:nth-of-type(3) svg:hover path, section.search-results div a svg:nth-of-type(3) svg:hover path, section.search-nearby-results div a svg:nth-of-type(3) svg:hover path {
        fill: #1f9b35; }
  section.search-results div:nth-of-type(odd), section.search-nearby-results div:nth-of-type(odd) {
    margin: 0 40px 25px 0; }

section.search-nearby-results h2 {
  font-family: latoregular, sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-align: center;
  color: #333333;
  margin: 0 0 50px 0; }

footer {
  height: 200px; }

/*# sourceMappingURL=style.css.map */
