<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floreview</title>
    
    <link href="~/Content/font.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/js-webshim/minified/polyfiller.js"></script>
    <script>
    webshims.polyfill();

    if (!Modernizr.input.list && !window.chrome) {
        jQuery.webshims.setOptions('forms', {
            lightweightDatalist: true
        });
        jQuery.webshims.polyfill('forms es5');
    }
    </script>
</head>
<body>
    @RenderBody()
    <footer></footer>
</body>
</html>
