@using Floreview.Resources
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { @id = "form-logout" }))
    {
    @Html.AntiForgeryToken()

    <ul>
        <li>
            @Html.ActionLink(Global.Menu_Login_Welcome + " " + User.Identity.GetUserName() + "!", "", "")
        </li>
        <li><a id="form-logout-submit">@Global.Menu_Logout</a></li>
    </ul>
    }
}
else
{
    @Html.ActionLink(Global.Menu_Login, "Login", "Account")
}

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        document.getElementById('form-logout-submit').addEventListener('click', function () {
            document.getElementById('form-logout').submit();
        });
    });
</script>